/* adapted from @SuperHi on youtube :') */

:root {
  --first-color: #d630e5;
  --second-color: #000000;
  --third-color: #ff0000;
}

* {
  margin: 0;
  box-sizing: border-box;
  outline: 1px solid var(--third-color);

}

html {
  font-size: calc(10px + 1vmax);
}

body {
  font-family: "dottonoji", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
  /* cursor: none; */

  color: var(--first-color);
  background-color: var(--second-color);
}

h1,
h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

h1:before,
figcaption:before {
  content: '';
  /* display: inline-block; */
  position: absolute;
  margin-top: 1.5ex;
  width: calc(28ex + 1vmax);
  height: 1ex;
  background-color: var(--third-color);
  /* margin: 0 0.9em 0 0; */
  mix-blend-mode: color-burn;
}

figcaption:after {
  content: '';
  position: absolute;
  margin-top: 1.5ex;
  width: calc(15ex + 1vmax);
  transform: translate(2ex, -2ex);
  height: 3ex;
  background-color: var(--second-color);
  outline: 1px solid var(--third-color);
  /* margin: 0 0.9em 0 0; */
  mix-blend-mode: color-burn;
  z-index: 1;
}

section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: start;
}

section div.title {
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  height: 100vh;

  position: sticky;
  top: 0;

  background-color: var(--second-color);
}

section div.title h1{
  margin-right: 100%;
  cursor: none;
  padding-bottom: 2vh;
}

section div.title h1:nth-child(2) {
  margin-left: 3vw;
}

section div.title h1:nth-child(3) {
  margin-left: 6vw;
}

section div.title h1:nth-child(4) {
  margin-left: 9vw;
}

section div.title h1:nth-child(5) {
  margin-left: 12vw;
}


section div.designerList {
  padding: 2rem;
  min-height: 100vh;
  font-family: "degular", serif;
  font-weight: 400;
  font-style: normal;
  /* background-color: var(--second-color); */
  z-index: 2;
}

section div.designerList table{
  border-collapse: collapse;
  width: 55vw;
}

section div.designerList table caption{
  text-align: left;
  justify-content: left;
  font-family: "dottonoji", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
  text-transform: uppercase;
}

section div.designerList table h2{
  text-align: left;
  justify-content: left;
  font-family: "dottonoji", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
  text-transform: uppercase;
  font-size: 1em;
  text-align: justify;
  text-justify: inter-word;
}


section div.designerList .row{
  opacity: 0;
  transform: translate(80px, 0px);
  transition: transform 1s;
  background-color: var(--second-color);
}

section div.designerList .row.reveal{
  opacity: 1;
  transform: translate(0, 0);
}

section div.designerList table p{
  padding: 1em 0.5em;
  align-self: center;
}

section div.info {
  padding: 1rem;
  min-height: 100vh;
  font-family: "degular", serif;
  font-weight: 400;
  font-style: normal;
  /* background-color: var(--second-color); */
  z-index: 2;
}

section div.info figure{
  padding: 2rem;
  min-height: 30vh;
  font-family: "degular", serif;
  font-weight: 400;
  font-style: normal;
  z-index: 2;
}

section div.info p,
section div.info figure {
  margin: 5em 0em;
  /* padding-left: 0.5rem; */
  font-size: 1em;
  background-color: var(--second-color);
  cursor: none;
}

section div.info p i{
  font-style: normal;
  outline: none;
}

section div.info p i:hover{
  font-family: "dottonoji", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  color: var(--third-color);
}

section div.submissionForm {
  /* padding-top: 0.5rem;
  padding-left: 3vw;
  padding-right: 1vw; */
  height: 100vh;
  padding: 2rem;

  position: sticky;
  top: 0;
}

figcaption {
  text-transform: uppercase;
  font-size: 1em;
  margin-top: 0.2rem;
  padding-left: 0.5em;
  margin-right: 10vw;
  margin-left: 3vw;
  font-family: "dottonoji", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
  background-color: var(--second-color);
  
}

    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

section div.submissionForm figure{
  /* padding: 2rem; */
  min-height: 30vh;

  transform: translateY(60%);
  font-family: "degular", serif;
  font-weight: 400;
  font-style: normal;
  z-index: 5;
  background-color: var(--second-color);
}

section div.submissionForm figure form{
  display: grid;
  color: var(--first-color);
}

section div.submissionForm figure form input[type="text"],
section div.submissionForm figure form input[type="email"],
section div.submissionForm figure form textarea[name="message"]{
  color: var(--first-color);
  background-color: var(--second-color);
  padding: 1em;
  border: none;
}

section div.submissionForm figure form input[type="email"],
section div.submissionForm figure form textarea[name="message"]{
  color: var(--first-color);
}

section div.submissionForm figure form input::placeholder{
  color: var(--first-color);
  font-family: "degular", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}


section div.submissionForm figure form button{
  background-color: var(--second-color);
  color: var(--first-color);
  padding: 1em;
  font-family: "dottonoji", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
  cursor: none;
  font-size: 0.75em;
  text-transform: uppercase;
  border: none;
}

section div.submissionForm figure form button:hover{
  background-color: var(--first-color);
  color: var(--second-color);
}


img {
  max-width: 100%;
  vertical-align: bottom;
}

.trail { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px; 
    width: 60px;
    border-radius: 50%;
    background: var(--third-color);
    mix-blend-mode: overlay;
    filter: blur(5px);
    pointer-events: none;
    z-index: 4;
  }

  .line{
    position: fixed;
    z-index: 0;
    outline: var(--third-color) solid 0.5px;
    height: 100vh;
    width: 0px;
    top: 50%;
    left: 83%;
    transform: translate(-50%,-50%);
  }

  canvas{
    position: fixed;
  }

  .bottomTagline{
    position: fixed;
    bottom: 0em;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .bottomTagline marquee{
    width: 100%;
    display: block;

    opacity: 0.9;

    font-size: 1em;
    text-transform: uppercase;
    color: var(--first-color);
    background-color: var(--second-color);
    pointer-events: none;
  }

@media (max-width: 800px) {
  section {
    grid-template-columns: 1fr;
  }

  section:nth-child(odd) div.title,
  section:nth-child(even) div.title {
    background-color: var(--first-color);
    color: var(--second-color);

    position: static;
    height: auto;
  }

  section:nth-child(odd) div.info,
  section:nth-child(even) div.info {
    background-color: var(--second-color);
    color: var(--first-color);
  }

  section div.title h1:nth-child(2) {
    display: none;
  }

  section div.title h1:nth-child(3) {
    display: none;
  }

  section div.title h1:nth-child(4) {
    display: none;
  }

  section div.title h1:nth-child(5) {
  display: none;  
}
}
